@use './base/reset';
@use './fonts/fonts';
@use './variables/themes/light';
@use './variables/themes/dark';
@use './variables/global';

html,
body,
#root {
  height: 100%;
  min-width: $minWidth + px;
}

body {
  font-family: $fontFamily;
  line-height: normal;
  font-size: $fontSize;
  font-weight: normal;

  overflow-x: hidden;
}

.app {
  height: 100%;
  color: var(--color-main-text);
  background-color: var(--color-background);
}

/* Класс для визуального скрытия, но доступности */
.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
}
