.todo-input {
  padding: rem(12) rem(16);
  padding-left: 0;
  display: flex;
  background-color: var(--color-surface);
  column-gap: var(--column-gap);

  &:focus-within {
    outline: auto;
  }

  // .todo-input__icon
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 rem(35);
    order: 1;
    transition: color 0.3s ease;
    stroke-width: rem(2);
  }
  // .todo-input__input
  &__input {
    width: 100%;
    order: 2;
    outline: none;
    background-color: inherit;
    color: inherit;

    &::placeholder {
      color: var(--color-placeholder);
      font-style: italic;
    }

    &:placeholder-shown ~ * {
      color: var(--color-placeholder);
    }
  }
}
