[data-theme='dark'] {
  --color-background: #181818;
  --color-main-text: #f5f5f5;
  --color-heading-text: #f5f5f5;
  --color-task-active: #cccccc;
  --color-task-completed: #555555;
  --color-button-text: #aaaaaa;
  --color-button-outline: #444444;
  --color-checkmark: #4ca28f;
  --color-surface: #1f1f1f;
  --color-placeholder: #666666;
}
