.app.light {
  --color-background: #f5f5f5;
  --color-main-text: #4f4f4f;
  --color-heading-text: #e8d8d7;
  --color-task-active: #4f4f4f;
  --color-task-completed: #d8d8d8;
  --color-button-text: #898989;
  --color-button-outline: #eddbdb;
  --color-checkmark: #66b8a4;
  --color-checkmark-outline: #d0e1de;
  --color-surface: #fefefe;
  --color-placeholder: #eaeaea;
}
