.checkbox {
  display: flex;
  align-items: center;
  column-gap: var(--column-gap);
  cursor: pointer;

  input:checked {
    & ~ .checkbox__checkmark > * {
      display: block;
    }
    & ~ .checkbox__label {
      color: var(--color-task-completed);
      text-decoration: line-through;
    }
  }

  // .checkbox__checkmark
  &__checkmark {
    $size-checkmark: #{rem(35)};

    display: flex;
    align-items: center;
    justify-content: center;
    width: $size-checkmark;
    height: $size-checkmark;
    border-radius: 50%;
    border: rem(1) solid var(--color-checkmark-outline);

    & > * {
      display: none;
    }
  }
  &__checkmark-icon {
    width: rem(25);
    height: rem(25);
    fill: var(--color-checkmark);
  }
  // .checkbox__label
  &__label {
  }
}
